.message_managment {
    background-color: white;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.m_h_title {
    margin-bottom: 15px;
    margin-left: 20px;
}

.left{
    height: 506px;
}

.message_list{
    max-height: 420px;
    overflow-y: scroll;
    overflow-x: hidden;
}